{% extends "base/main.html.twig" %}

{% block page_title %}Edition article{% endblock %}
{% block body_content %}
{% if article_id is not null %}
{% set action_target = path_for('article_edit', {'id': article_id}) %}
{% else %}
{% set action_target = path_for('article_edit') %}
{% endif %}
<div
  class="container-fluid"
  id="article_editor"
  data-initial="{{ article }}"
  data-ajax_save_chapter="{{ path_for('ajax_save_chapter') }}"
  data-ajax_delete_chapter="{{ path_for('ajax_delete_chapter') }}"
  data-ajax_update_chapter="{{ path_for('ajax_update_chapter') }}">
  <div class="panel panel-default">
    <div class="panel-heading">
      Article
    </div>
    <div class="panel-body">
      <form class="form" action="{{ action_target }}" method="post" enctype="multipart/form-data">
        <fieldset class="form-group">
          <label for="article_title">Titre de l'article</label>
          <input name="article_title" type="text" data-bind="value: title" class="form-control" id="article_title">
        </fieldset>
        <fieldset class="form-group">
          <label for="article_short_description">Description courte</label>
          <textarea name="article_short_description" rows="5" data-bind="value: shortDescription" class="form-control" id"article_short_description"></textarea>
        </fieldset>
        <fieldset class="form-group">
          <label for="article_small_image">Petite illustration</label>
          <input name="article_small_image" type="file" class="form-control-file" id=article_small_image">
          <img data-bind="attr: {src: smallImageSrc }">
        </fieldset>
        <fieldset class="form-group">
          <label for="article_big_image">Grande illustration</label>
          <input name="article_big_image" type="file" class="form-control-file" id=article_big_image">
          <img data-bind="attr: {src: bigImageSrc }">
        </fieldset>
        <button type="submit" class="btn btn-primary pull-right">Sauvegarder</button>
      </form>
    </div>
  </div>
  <div class="panel">
    <div class="panel-body">
      <div class="col-md-10">
        <ul class="nav nav-pills" data-bind="foreach: $root.chapters">
          <li role="presentation" data-bind="css: $data.isActive() ? 'active' : ''"><a href="#" data-bind="text: $data.title, click: onChapterClick"></a></li>
        </ul>
      </div>
      <div class="col-md-2 text-right decatime-toolbar">
        <i class="fa fa-plus-square" aria-hidden="true" data-bind="click: $root.onBtnAddChapter"></i>
        <i class="fa fa-minus-square" aria-hidden="true" data-bind="click: $root.onBtnRemoveChapter"></i>
      </div>
    </div>
  </div>
  <div data-bind="foreach: $root.chapters">
    <div class="panel panel-default panel-no-border" data-bind="visible: $data.isActive">
      <div class="panel-heading">
        Chapitre <span data-bind="text: $data.position">
      </div>
      <div class="panel-body">
        <fieldset class="form-group">
          <label>Titre du chapitre</label>
          <input class="form-control" type="text" data-bind="value: $data.title">
        </fieldset>
      </div>
      <ul class="nav nav-pills" data-bind="foreach: $data.contents">
        <li role="presentation" data-bind="css: $data.isActive() ? 'active' : ''"><a href="#" data-bind="text: $data.title, click: onContentClick"></a></li>
      </ul>
      <div data-bind="foreach: $data.contents">
        <div class="panel panel-default panel-no-border" data-bind="visible: $data.isActive">
          <div class="panel-heading">
            Contenu <span data-bind="text: $data.position">
          </div>
          <div class="panel-body">
            <fieldset class="form-group">
              <label>Titre du contenu</label>
              <input class="form-control" type="text" data-bind="value: $data.title">
            </fieldset>
          </div>
          <div class="panel panel-default panel-no-border" data-bind="foreach: $data.paragraphs">
            <div class="panel-heading">
              Paragraphe <span data-bind="text: $data.position"></span>
            </div>
            <div class="panel-body">
              <fieldset class="form-group">
                <div data-bind="visible: $data.simpleText">
                  <textarea rows="5" class="form-group" data-bind="value: $data.data" style="min-width: 100%"></textarea>
                </div>
                <div data-bind="visible: !$data.simpleText">
                  <p align="center"><img data-bind="attr: { src: $data.rawData }" alt="image"/></p>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block modal_dialogs %}
{{ parent() }}
{% include 'modal/add-item-title.html.twig' %}
{% include 'modal/confirm-dialog.html.twig' %}
{% endblock %}

