{% extends "base/main.html.twig" %}

{% block page_title %}{{ page_title }}{% endblock %}
{% block body_content %}
<div class="container-fluid">
  <h2>Derniers articles</h2>
  {% for article in articles %}
  <div class="row article-list">
    <div class="col-md-2">
      {% if article.getSmallImage() is not null %}
      <img src='data:image/png;base64,{{ article.getEncodedSmallImage() }}'>
      {% else %}
      <img src='/assets/images/no_image.png'>
      {% endif %}
    </div>
    <div class="col-md-10">
      <h4><a href="{{ path_for('article_view', {'id': article.getId()}) }}">{{ article.getTitle() }}</a></h4>
      <div class="row">
        <p>{{ article.getShortDescription() }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
